<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Catholoic Stream</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link th:href="@{~/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link th:href="@{~/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link th:href="@{~/lib/animate/animate.min.css}" rel="stylesheet">
  <link th:href="@{~/lib/venobox/venobox.css}" rel="stylesheet">
  <link th:href="@{~/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link th:href="@{~/css/style.css}" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro">Catholic <span>S</span>tream</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#intro">Home</a></li>
          <!-- <li><a href="#about">About</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#venue">Venue</a></li>
          <li><a href="#hotels">Hotels</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
            <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li> -->
          <li><a href="http://jyinfopark.in/">Contact</a></li>

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <div style="width: 30%; margin-left: auto; margin-right: auto;">
        <img class="img-fluid" th:src="@{~/img/intro-bg.jpg}">
      </div>
      <h1 class="mb-4 pb-0"><span>Live online catholic Streams</span></h1>
      <!-- <p class="mb-4 pb-0">10-12 July, San Diego, CA</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a> -->
    </div>
  </section>

  <main id="main">

    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>[[${language}]] Holy Mass</h2>
          <button class="btn btn-small btn-warning" onclick="openModal()">Instructions</button>
          <br><br>
          <p class="font-weight-bold">Holy masses from all around the world. All timings are in IST (GMT+5.30)</p>
          <br>
          <ul class="nav nav-tabs" role="tablist">

            <li class="nav-item lej-padding">
              <a th:if="${language != 'malayalam'}" class="nav-link" th:href="@{/masses/malayalam}">Malayalam</a>
              <a th:if="${language == 'malayalam'}" class="nav-link active" th:href="@{/masses/malayalam}">Malayalam</a>
            </li>
            <li class="nav-item lej-padding">
              <a th:if="${language != 'english'}" class="nav-link" th:href="@{/masses/english}">English</a>
              <a th:if="${language == 'english'}" class="nav-link active" th:href="@{/masses/english}">English</a>
            </li>
            <li class="nav-item lej-padding">
              <a th:if="${language != 'hindi'}" class="nav-link" th:href="@{/masses/hindi}">Hindi</a>
              <a th:if="${language == 'hindi'}" class="nav-link active" th:href="@{/masses/hindi}">Hindi</a>
            </li>

          </ul>


        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item lej-padding">
            <a th:if="${day == 'sunday'}" class="nav-link active show" href="#sun" role="tab" data-toggle="tab" aria-selected="true">Sunday</a>
            <a th:if="${day != 'sunday'}" class="nav-link" href="#sun" role="tab" data-toggle="tab">Sunday</a>
          </li>
          <li class="nav-item lej-padding">
            <a th:if="${day == 'monday'}" class="nav-link active show" href="#mon" role="tab" data-toggle="tab" aria-selected="true">Monday</a>
            <a th:if="${day != 'monday'}" class="nav-link" href="#mon" role="tab" data-toggle="tab">Monday</a>
          </li>
          <li class="nav-item lej-padding">
            <a th:if="${day == 'tuesday'}" class="nav-link active show" href="#tue" role="tab" data-toggle="tab" aria-selected="true">Tuesday</a>
            <a th:if="${day != 'tuesday'}" class="nav-link" href="#tue" role="tab" data-toggle="tab">Tuesday</a>
		  </li>
		  <li class="nav-item lej-padding">
            <a th:if="${day == 'wednesday'}" class="nav-link active show" href="#wed" role="tab" data-toggle="tab" aria-selected="true">Wednesday</a>
            <a th:if="${day != 'wednesday'}" class="nav-link" href="#wed" role="tab" data-toggle="tab">Wednesday</a>
          </li>
          <li class="nav-item lej-padding">
            <a th:if="${day == 'thursday'}" class="nav-link active show" href="#thu" role="tab" data-toggle="tab" aria-selected="true">Thursday</a>
            <a th:if="${day != 'thursday'}" class="nav-link" href="#thu" role="tab" data-toggle="tab">Thursday</a>
          </li>
          <li class="nav-item lej-padding">
            <a th:if="${day == 'friday'}" class="nav-link active show" href="#fri" role="tab" data-toggle="tab" aria-selected="true">Friday</a>
            <a th:if="${day != 'friday'}" class="nav-link" href="#fri" role="tab" data-toggle="tab">Friday</a>
		  </li>
          <li class="nav-item lej-padding">
            <a th:if="${day == 'saturday'}" class="nav-link active show" href="#sat" role="tab" data-toggle="tab" aria-selected="true">Saturday</a>
            <a th:if="${day != 'saturday'}" class="nav-link" href="#sat" role="tab" data-toggle="tab">Saturday</a>
          </li>

        </ul>

        <div class="tab-content row justify-content-center">

          <!-- Sunday -->
          <div  th:if="${day == 'sunday'}"  role="tabpanel" class="col-lg-9  tab-pane fade active show" id="sun">
            <div class="row schedule-item" th:each="mass : ${sunday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>

          <div  th:if="${day != 'sunday'}"  role="tabpanel" class="col-lg-9  tab-pane fade" id="sun">
            <div class="row schedule-item" th:each="mass : ${sunday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>
          <!-- End Sunday -->

          <!-- Monday -->
          <div th:if="${day == 'monday'}" role="tabpanel" class="col-lg-9  tab-pane fade active show" id="mon">
            <div class="row schedule-item" th:each="mass : ${monday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>

          <div th:if="${day != 'monday'}" role="tabpanel" class="col-lg-9  tab-pane fade" id="mon">
            <div class="row schedule-item" th:each="mass : ${monday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>
          <!-- End Monday -->

          <!-- Tuesday -->
          <div th:if="${day == 'tuesday'}" role="tabpanel" class="col-lg-9  tab-pane fade active show" id="tue">
            <div class="row schedule-item" th:each="mass : ${tuesday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>

          <div th:if="${day != 'tuesday'}" role="tabpanel" class="col-lg-9  tab-pane fade" id="tue">
            <div class="row schedule-item" th:each="mass : ${tuesday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>
          <!-- End Tuesday Day 3 -->

          <!-- Wednesday Day 4 -->
          <div th:if="${day == 'wednesday'}" role="tabpanel" class="col-lg-9  tab-pane fade active show" id="wed">
            <div class="row schedule-item" th:each="mass : ${wednesday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>


          <div th:if="${day != 'wednesday'}" role="tabpanel" class="col-lg-9  tab-pane fade" id="wed">
            <div class="row schedule-item" th:each="mass : ${wednesday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>

          </div>

          <!-- End Wednesday Day 4 -->
          <!-- Schdule Thursday 5 -->
          <div th:if="${day == 'thursday'}" role="tabpanel" class="col-lg-9  tab-pane fade active show" id="thu">
            <div class="row schedule-item" th:each="mass : ${thursday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>

          <div th:if="${day != 'thursday'}" role="tabpanel" class="col-lg-9  tab-pane fade" id="thu">
            <div class="row schedule-item" th:each="mass : ${thursday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>
          <!-- End Thursday Day 5 -->

          <!-- Friday Day 6 -->
          <div  th:if="${day == 'friday'}"role="tabpanel" class="col-lg-9  tab-pane fade active show" id="fri">
            <div class="row schedule-item" th:each="mass : ${friday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>

          <div th:if="${day != 'friday'}" role="tabpanel" class="col-lg-9  tab-pane fade" id="fri">
            <div class="row schedule-item" th:each="mass : ${friday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>
          <!-- End Friday Day 6 -->

          <!-- Saturday Day 7 -->
          <div  th:if="${day == 'saturday'}" role="tabpanel" class="col-lg-9  tab-pane fade active show" id="sat">
            <div class="row schedule-item" th:each="mass : ${saturday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>

          <div th:if="${day != 'saturday'}" role="tabpanel" class="col-lg-9  tab-pane fade" id="sat">
            <div class="row schedule-item" th:each="mass : ${saturday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>
          </div>
          <!-- End Saturday Day 7 -->

        </div>

      </div>

    </section>


  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
		<a href="http://jyinfopark.in/" class="text-white">Made with <i class="fa fa-heart" style="color: red;"></i> Jesus Youth Infopark</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <!-- modal for online mass  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Guidelines for
            attending holy mass online</h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          ✝ Start preparing for holy mass before-hand. do not rush . <br />
          ✝ Set-up a simple altar with a crucifix & a candle in your table
          near the device (mobile phone, tablet, laptop, tv) streaming the
          holy mass. <br /> ✝ Wear appropriate attire (do not attend the
          mass in your leisure wear or home wear). be serious in your
          preparation. <br /> ✝ Turn off other online devices & do not do
          anything else while you are participating in the holy mass. there
          should be nothing to distract your attention on the mass. <br /> ✝
          Recite the corresponding responses to the prayers in the holy mass.
          <br /> ✝ Observe the proper gestures of standing, kneeling &
          sitting at appropriate times in the holy mass. <br /> ✝ During the
          time of receiving communion, please recite the spiritual communion
          prayer. <br /> <br />Download prayer here :
          <a th:href="@{/img/english.jpeg}" th:attr="download=@{/img/english.jpeg}" target="_blank">English</a>
          &nbsp;
          <a th:href="@{/img/malayalam.jpeg}" th:attr="download=@{/img/malayalam.jpeg}" target="_blank">Malayalam</a>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- modal ends -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/lib/easing/easing.min.js}"></script>
  <script th:src="@{/lib/superfish/hoverIntent.js}"></script>
  <script th:src="@{/lib/superfish/superfish.min.js}"></script>
  <script th:src="@{/lib/wow/wow.min.js}"></script>
  <script th:src="@{/lib/venobox/venobox.min.js}"></script>
  <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

  <!-- Contact Form JavaScript File -->
  <script th:src="@{/contactform/contactform.js}"></script>

  <!-- Template Main Javascript File -->
  <script th:src="@{/js/main.js}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async
          src="https://www.googletagmanager.com/gtag/js?id=UA-161546265-1"></script>
  <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-161546265-1');

		$(window).on('load',function(){
        $('#exampleModal').modal('show');
    });
    function openModal(){
      $('#exampleModal').modal('show');
    }

    str = window.location.href.substring(0,window.location.href.length-1)+'';
    if(str !=window.location.origin){
      window.scrollTo(0, document.getElementById('schedule').offsetTop);
    }
	</script>
</body>

</html>
