<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <title>Catholoic Stream</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link th:href="@{~/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link th:href="@{~/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
  <link th:href="@{~/lib/animate/animate.min.css}" rel="stylesheet">
  <link th:href="@{~/lib/venobox/venobox.css}" rel="stylesheet">
  <link th:href="@{~/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link th:href="@{~/css/style.css}" rel="stylesheet">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#intro">Catholic <span>S</span>tream</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#intro">Home</a></li>
          <!-- <li><a href="#about">About</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#venue">Venue</a></li>
          <li><a href="#hotels">Hotels</a></li>
          <li><a href="#sponsors">Sponsors</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Catholic <span>Stream</span><br>Online catholic  streams</h1>
      <!-- <p class="mb-4 pb-0">10-12 July, San Diego, CA</p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a> -->
    </div>
  </section>

  <main id="main">

    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Holy Mass today</h2>
          <p class="font-weight-bold">Holy masses from all around the world</p>

          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item lej-padding">
              <a class="nav-link active" th:href="@{/masses/malayalam}">Malayalam</a>
            </li>
            <li class="nav-item lej-padding">
              <a class="nav-link active" th:href="@{/masses/english}" >English</a>
            </li>
            <li class="nav-item lej-padding">
              <a class="nav-link active" th:href="@{/masses/hindi}" >Hindi</a>
            </li>

          </ul>


        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item lej-padding">
            <a class="nav-link active" href="#sun" role="tab" data-toggle="tab">Sunday</a>
          </li>
          <li class="nav-item lej-padding">
            <a class="nav-link" href="#mon" role="tab" data-toggle="tab">Monday</a>
          </li>
          <li class="nav-item lej-padding">
            <a class="nav-link" href="#tue" role="tab" data-toggle="tab">Tuesday</a>
		  </li>
		  <li class="nav-item lej-padding">
            <a class="nav-link" href="#wed" role="tab" data-toggle="tab">Wednesday</a>
          </li>
          <li class="nav-item lej-padding">
            <a class="nav-link" href="#thu" role="tab" data-toggle="tab">Thursday</a>
          </li>
          <li class="nav-item lej-padding">
            <a class="nav-link" href="#fri" role="tab" data-toggle="tab">Friday</a>
		  </li>
		  
        </ul>

        <div class="tab-content row justify-content-center">

          <!-- Sunday -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="sun">

            <div class="row schedule-item" th:each="mass : ${sunday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>


          </div>
          <!-- End Sunday -->

          <!-- Monday -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="mon">

            <div class="row schedule-item" th:each="mass : ${monday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>


          </div>
          <!-- End Monday -->

          <!-- Schdule Day 3 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="tue">

            <div class="row schedule-item" th:each="mass : ${tuesday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>


          </div>
          <!-- End Schdule Day 3 -->

          <!-- Schdule Day 4 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="wed">

            <div class="row schedule-item" th:each="mass : ${wednesday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 4 -->
          <!-- Schdule Day 5 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="thu">

            <div class="row schedule-item" th:each="mass : ${thursday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 5 -->

          <!-- Schdule Day 6 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="fri">

            <div class="row schedule-item" th:each="mass : ${friday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 6 -->

          <!-- Schdule Day 7 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="sat">

            <div class="row schedule-item" th:each="mass : ${saturday}">
              <div class="col-md-2"><time>[[${mass.prettyTime}]] ([[${timezone}]])</time></div>
              <div class="col-md-10">
                <h4 th:text="${mass.name}"></h4>
                <p th:text="${mass.description}">.</p><br/>
                <a th:href="${mass.link}"><button class="btn btn-small btn-warning" >Watch</button> </a>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 7 -->

        </div>

      </div>

    </section>
    

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
		<a href="http://jyinfopark.in/" class="text-white">Made with <i class="fa fa-heart" style="color: red;"></i> Jesus Youth Infopark</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>
  <script th:src="@{/lib/jquery/jquery-migrate.min.js}"></script>
  <script th:src="@{/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/lib/easing/easing.min.js}"></script>
  <script th:src="@{/lib/superfish/hoverIntent.js}"></script>
  <script th:src="@{/lib/superfish/superfish.min.js}"></script>
  <script th:src="@{/lib/wow/wow.min.js}"></script>
  <script th:src="@{/lib/venobox/venobox.min.js}"></script>
  <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

  <!-- Contact Form JavaScript File -->
  <script th:src="@{/contactform/contactform.js}"></script>

  <!-- Template Main Javascript File -->
  <script th:src="@{/js/main.js}"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async
          src="https://www.googletagmanager.com/gtag/js?id=UA-161546265-1"></script>
  <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-161546265-1');
	</script>
</body>

</html>
