/*
  General Styles --------------------------------------------------------------*/

body {
    background: #fff;
    color: #2f3138;
    font-family: "Open Sans", sans-serif;
}

a {
    color: #d29e02;
    transition: 0.5s;

    &:hover,
    &:active,
    &:focus {
        color: #d29e02;
        outline: none;
        text-decoration: none;
    }
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: #0e1b4d;
}

.main-page {
    margin-top: 70px;
}

.lej-padding {
    padding-top: 5px;
}

.wow {
    visibility: hidden;
}

#guidelines>li {
    margin: 10px 0;
    font-size: 95%;
}

#guidelinesModal a.badge {
    font-size: 80%;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #d29e02;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;

    i {
        font-size: 24px;
        padding-top: 6px;
    }

    &:focus {
        background: #d29e02;
        color: #fff;
        outline: none;
    }

    &:hover {
        background: #d29e02;
        color: #fff;
    }
}

.btn-outline-cs-blue {
    color: #0e1b4d;
    border-color: #0e1b4d;

    &:focus,
    &:hover,
    &:active {
        color: white;
        background: #d29e02;
        border-color: #d29e02;
        box-shadow: none;
    }
}

.far,
.fas,
.fab {
    vertical-align: middle;
}

.modal-backdrop.show {
    opacity: 0.75;
}

/* Sections Header
  --------------------------------*/

.section-header {
    /* margin-bottom: 25px; */
    position: relative;

    &::before {
        content: '';
        position: absolute;
        display: none;
        width: 100%;
        height: 1px;
        background: #ccc;
        bottom: 0;
        left: 0;

        /* left: calc(50% - 25px); */
    }

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: left;
        font-weight: 700;
        margin-bottom: 10px;
    }

    p {
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: #9195a2;
    }
}

.section-with-bg {
    background-color: #f6f7fd;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
    height: 90px;
    padding: 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;

    &.header-scrolled,
    &.header-fixed {
        background: rgba(6, 12, 34, 0.98);
        height: 70px;
        padding: 15px 0;
        transition: all 0.5s;
    }

    #logo {
        h1 {
            font-size: 22px;
            margin: 0;
            padding: 6px 0;
            line-height: 1;
            font-family: "Raleway", sans-serif;
            font-weight: 700;
            letter-spacing: 3px;
            text-transform: uppercase;

            span {
                color: #d29e02;
            }

            a {
                color: #d29e02;

                &:hover {
                    color: #d29e02;
                }
            }
        }

        img {
            padding: 0;
            margin: 0;
            max-height: 40px;
        }
    }
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }

    li {
        position: relative;
        white-space: nowrap;

        &:hover>ul,
        &.sfHover>ul {
            display: block;
        }
    }

    >li {
        float: left;
    }

    ul {
        ul {
            top: 0;
            left: 100%;
        }

        li {
            min-width: 180px;
        }
    }
}

/* Nav Menu Arrows */

.sf-arrows {
    .sf-with-ul {
        padding-right: 30px;

        &:after {
            content: "\f107";
            position: absolute;
            right: 15px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
        }
    }

    ul .sf-with-ul:after {
        content: "\f105";
    }
}

/* Nav Meu Container */

#nav-menu-container {
    float: right;
    margin: 0;
}

/* Nav Meu Styling */

.nav-menu {
    a {
        padding: 8px;
        text-decoration: none;
        display: inline-block;
        color: #d29e02;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 14px;
        outline: none;
    }

    .menu-active a {
        color: #9194a2;
    }

    a:hover {
        color: #9194a2;

        &:before {
            visibility: visible;
            width: 100%;
        }
    }

    >li {
        margin-left: 8px;

        >a:before {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #d29e02;
            visibility: hidden;
            transition: all 0.3s ease-in-out 0s;
        }
    }

    li:hover>a:before,
    .menu-active>a:before {
        visibility: visible;
        width: 100%;
    }

    li.buy-tickets {
        a {
            color: #fff;
            background: #d29e02;
            padding: 7px 22px;
            border-radius: 50px;
            border: 2px solid #d29e02;
            transition: all ease-in-out 0.3s;
            font-weight: 500;
            margin-left: 8px;
            margin-top: 2px;
            line-height: 1;
            font-size: 13px;

            &:hover {
                background: none;
            }
        }

        &:hover a:before,
        &.menu-active a:before {
            visibility: hidden;
        }
    }

    ul {
        margin: 4px 0 0 0;
        padding: 10px;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        background: #fff;
        border-radius: 3px;

        li {
            transition: 0.3s;

            a {
                padding: 10px;
                color: #060c22;
                transition: 0.3s;
                display: block;
                font-size: 13px;
                text-transform: none;
                border-radius: 3px;
            }

            &:hover>a {
                background: #d29e02;
                color: #fff;
            }
        }

        ul {
            margin: 0;
        }
    }
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;

    i {
        color: #fff;
    }
}

/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(6, 12, 34, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            position: relative;

            a {
                color: #fff;
                font-size: 17px;
                overflow: hidden;
                padding: 10px 22px 10px 15px;
                position: relative;
                text-decoration: none;
                width: 100%;
                display: block;
                outline: none;

                &:hover {
                    color: #d29e02;
                }
            }

            li {
                padding-left: 30px;
            }
        }

        .menu-has-children i {
            position: absolute;
            right: 0;
            z-index: 99;
            padding: 15px;
            cursor: pointer;
            color: #fff;

            &.fa-chevron-up {
                color: #d29e02;
            }
        }

        .menu-item-active {
            color: #d29e02;
        }
    }
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(6, 12, 34, 0.8);
    display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;

    #mobile-nav {
        left: 0;
    }

    #mobile-nav-toggle {
        color: #fff;
    }
}

/*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/

#intro {
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .intro-container {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 90px;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 0 15px;
    }

    h1 {
        color: #fff;
        font-family: "Raleway", sans-serif;
        font-size: 56px;
        font-weight: 600;
        text-transform: uppercase;

        span {
            color: #d29e02;
        }
    }

    p {
        color: #ebebeb;
        font-weight: 700;
        font-size: 20px;
    }

    .play-btn {
        width: 94px;
        height: 94px;
        background: radial-gradient(#d29e02 50%, rgba(101, 111, 150, 0.15) 52%);
        border-radius: 50%;
        display: block;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateX(-40%) translateY(-50%);
            transform: translateX(-40%) translateY(-50%);
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid #fff;
            z-index: 100;
            transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        &:before {
            content: '';
            position: absolute;
            width: 120px;
            height: 120px;
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
            -webkit-animation: pulsate-btn 2s;
            animation: pulsate-btn 2s;
            -webkit-animation-direction: forwards;
            animation-direction: forwards;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: steps;
            animation-timing-function: steps;
            opacity: 1;
            border-radius: 50%;
            border: 2px solid rgba(163, 163, 163, 0.4);
            top: -15%;
            left: -15%;
            background: rgba(198, 16, 0, 0);
        }

        &:hover {
            &::after {
                border-left: 15px solid #d29e02;
                -webkit-transform: scale(20);
                transform: scale(20);
            }

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translateX(-40%) translateY(-50%);
                transform: translateX(-40%) translateY(-50%);
                width: 0;
                height: 0;
                border: none;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid #fff;
                z-index: 200;
                -webkit-animation: none;
                animation: none;
                border-radius: 0;
            }
        }
    }

    .about-btn {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 50px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: #fff;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        border: 2px solid #d29e02;

        &:hover {
            background: #d29e02;
            color: #fff;
        }
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

#introImage {
    margin-left: auto;
    margin-right: auto;

    img {
        max-height: 60vh;
    }
}

/*--------------------------------------------------------------
  # Schedule Section
  --------------------------------------------------------------*/

#features {
    color: #0e1b4d;
    background: #f6f7fd;

    i {
        width: 80px;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

#holyMass {

    &>.tab-pane>p {
        text-align: center;
        color: #9195a2;
    }

    /*dijo - full height schedule*/
    .fullHeight {
        min-height: calc(100vh - 146px);

        //min-height: calc(100vh - 70px);

        // @media (min-height: 650px) {
        //     min-height: calc(100vh - 146px);
        // }
    }
}

#liveGallery {
    background: rgba(6, 12, 34, 0.98);

    .container {
        position: relative;
    }

    #liveSlider {
        &>div {
            text-align: center;

            div.thumb {
                width: 340px;
                margin: 0 auto;
                padding: 10px;
                border-radius: 5px;
                background: #000;

                h5 {
                    text-align: center;
                    color: #d29e02;
                    padding-top: 15px;
                    font-size: 1.2rem;
                    margin: 0;
                }

                p {
                    text-align: left;
                    margin: 0;
                    padding: 7px 2px;
                    color: ghostwhite;
                    font-size: .9rem;

                    &.live {
                        color: #dc3545;
                        font-weight: bold;
                    }

                    &.upcoming {
                        color: #28a745;
                    }

                    span {
                        display: inline-block;

                        &+span {
                            margin-left: 20px;
                        }

                        .fas,
                        .far,
                        .fab {
                            margin-right: 8px;
                        }
                    }
                }

            }

        }
    }

    .tns-nav {
        text-align: center;

        button {
            width: 9px;
            height: 9px;
            padding: 0;
            margin: 0 5px;
            border-radius: 50%;
            background: #ddd;
            border: 0;

            &.tns-nav-active {
                background: #d29e02;
            }
        }
    }

    .tns-controls {

        &>button {
            background: transparent;
            color: ghostwhite;
            margin: 0;
            padding: 0 5px;
            border: none;
            font-size: 1.5rem;

            &:focus {
                outline: none;
                border: none;
            }

            &[data-controls=prev] {
                position: absolute;
                top: 45%;
                left: 0;
            }

            &[data-controls=next] {
                position: absolute;
                top: 45%;
                right: 0;
            }
        }

    }
}

#schedule {

    #csTzSelect+.btn.dropdown-toggle {
        border: none;
        outline: none !important;
        box-shadow: none;

        &:focus,
        &:link,
        &:visited,
        &:hover,
        &:active {
            border: none;
            outline: none !important;
            box-shadow: none;
        }
    }

    #langSelection {
        &>li {
            margin: 2px;
        }

        li {
            a.nav-link {
                border-radius: 0;
            }

            &.nav-item {
                margin: 0px;

                +li.nav-item {
                    margin-left: 1px;
                }
            }
        }
    }

    .dropdown-item {

        &.active,
        &:active {
            background: #d29e02;
        }
    }

    .nav-tabs {
        text-align: center;
        margin: auto;

        /* display: block; */
        border-bottom: 0;

        /* margin-bottom: 30px; */

        li {
            display: inline-block;
            margin-bottom: 0;
            margin: 0 2px;
        }

        a {
            border: none;
            border-radius: 50px;
            font-weight: 600;
            background-color: #0e1b4d;
            color: #fff;
            padding: 10px 30px;
        }

        li.icon {
            flex-grow: 0;
            flex-shrink: 0;
        }

        a.active {
            background-color: #d29e02;
            color: #fff;
        }
    }

    .sub-heading {
        text-align: center;
        font-size: 18px;
        font-style: italic;
        margin: 0 auto 30px auto;
    }

    .tab-pane {
        transition: ease-in-out .2s;
    }

    .showPrevSchedule,
    .hidePrevSchedule {
        display: none;
        cursor: pointer;
        padding: 0 10px 10px;
    }

    .schedule-item {
        border-bottom: 1px solid #cad4f6;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: background-color ease-in-out 0.3s;

        &.showHide {
            border-bottom: none;
        }

        &:hover {
            background-color: #fff;
        }

        small {
            display: block;
            padding-top: 10px;
        }

        &.finishedOrLate {
            filter: grayscale(1);
            opacity: 0.5;

            &:hover {
                filter: grayscale(0);
            }
        }

        &.inProgress {

            time {
                color: #dc3545;
            }

            small {
                color: #dc3545;
            }

        }

        &.justStarted {

            time {
                color: #fd7e14;
            }

            small {
                color: #fd7e14;
            }
        }

        &.startingSoon {

            time {
                color: #28a745;
            }

            small {
                color: #28a745;
            }
        }

        time {
            /* padding-bottom: 5px; */
            display: inline-block;
            font-weight: 600;
            color: #d29e02;

            &.userTzTime {
                color: #6c757d;
                font-weight: normal;

                // &.hasDayChange {
                //     color: #0e1b4d;
                // }

                // &.noDayChange {
                //     color: #6c757d;
                // }
            }
        }

        h4 {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;

            span {
                font-style: italic;
                color: #19328e;
                font-weight: normal;
                font-size: 16px;
            }
        }

        p {
            font-style: italic;
            color: #152b79;
            margin-bottom: 0;
        }
    }

    .daySelection {

        &>li {
            margin: 4px;
        }

        a.nav-link {
            border-radius: 4px;

            .dayName {
                font-size: 1em;
            }

            .dayDate {
                font-size: 1.5em;
            }

            .dayMY {
                font-size: 0.65em;
            }
        }

    }

    .langDateUserTitle {
        font-family: 'Open Sans';
        background: #d29e02;
        color: white;
        padding: 10px 5px;
        margin: 0px;
        font-size: 1.2rem;

        &.fixed-top {
            position: fixed;
            top: 70px;
            left: 0px;
            width: 100%;
            text-align: center;
            z-index: 100;
            font-size: 1rem;
            transition: all 0.5s;

            @media (max-width: 575px) {
                font-size: 0.75rem;
            }

            span {
                display: inline-block !important;
            }
        }
    }

    .watchStream {
        font-size: 0.8rem;

        i {
            font-size: 20px;
        }
    }
}

#instructions {
    cursor: pointer;
}

#videoModal {

    #videoSpinner {
        display: flex;
    }

    .modal-header .modal-title {
        margin: 0 auto;
    }

    .modal-body .close {
        margin-left: 0;
        text-shadow: none;
        opacity: 1;
        color: red;
        font-size: 2em;
    }

    .darkMode {
        background: black;

        .modal-body {
            position: relative;

            /* overflow: hidden; */
            width: 100%;
            padding: 0px;
            padding-top: 56.25%;
        }
    }

    .modal-body .close {
        display: inline-block;
        position: absolute;
        top: -28px;
        right: -15px;
    }

    .darkMode {
        .modal-body iframe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            padding: 2px;
        }

        .modal-header {
            display: none;
        }
    }
}

/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

#footer {
    background: #101522;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;

    .footer-top {
        background: #040919;
        padding: 60px 0 30px 0;

        .footer-info {
            margin-bottom: 30px;

            h3 {
                font-size: 26px;
                margin: 0 0 20px 0;
                padding: 2px 0 2px 0;
                line-height: 1;
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                color: #fff;
            }

            img {
                height: 40px;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: "Raleway", sans-serif;
                color: #fff;
            }
        }

        .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #222636;
            color: #eee;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;

            &:hover {
                background: #d29e02;
                color: #fff;
            }
        }

        h4 {
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            padding-bottom: 12px;
            border-bottom: 2px solid #d29e02;
        }

        .footer-links {
            margin-bottom: 30px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                i {
                    padding-right: 5px;
                    color: #d29e02;
                    font-size: 18px;
                }

                li {
                    border-bottom: 1px solid #262c44;
                    padding: 10px 0;

                    &:first-child {
                        padding-top: 0;
                    }
                }

                a {
                    color: #eee;

                    &:hover {
                        color: #d29e02;
                    }
                }
            }
        }

        .footer-contact {
            margin-bottom: 30px;

            p {
                line-height: 26px;
            }
        }

        .footer-newsletter {
            margin-bottom: 30px;

            input {
                &[type="email"] {
                    border: 0;
                    padding: 6px 8px;
                    width: 65%;
                }

                &[type="submit"] {
                    background: #d29e02;
                    border: 0;
                    width: 35%;
                    padding: 6px 0;
                    text-align: center;
                    color: #fff;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover {
                        background: #e0072f;
                    }
                }
            }
        }
    }

    .copyright {
        text-align: center;
        padding-top: 30px;
    }

    .credits {
        text-align: center;
        font-size: 13px;
        color: #ddd;
    }
}

/*--------------------------------------------------------------
  # Responsive Media Queries
  --------------------------------------------------------------*/

@media (min-width: 767px) {
    #subscribe input {
        min-width: 400px;
    }
}

@media (min-width: 768px) {
    #contact {

        .contact-address,
        .contact-phone,
        .contact-email {
            padding: 20px 0;
        }

        .contact-phone {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
    }

    .daySelection .nav-item.wide {
        flex-basis: 30%;
    }
}

@media (min-width: 991px) {
    #schedule .sub-heading {
        width: 75%;
    }
}

@media (min-width: 1024px) {

    #intro,
    #about,
    #subscribe {
        background-attachment: fixed;
    }
}

@media (max-width: 1199px) {
    #header .container {
        max-width: 100%;
    }

    .nav-menu a {
        padding: 8px 4px;
    }
}

@media (max-width: 991px) {
    #header {
        background: rgba(6, 12, 34, 0.98);
        height: 70px;
        padding: 15px 0;
        transition: all 0.5s;
    }

    #nav-menu-container {
        display: none;
    }

    #mobile-nav-toggle {
        display: inline;
    }

    #intro {
        .intro-container {
            top: 70px;
        }

        h1 {
            font-size: 34px;
        }

        p {
            font-size: 16px;
        }
    }

    #schedule .nav-tabs a {
        padding: 8px 20px;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }

    #faq #faq-list {
        a {
            font-size: 18px;
        }

        i {
            top: 13px;
        }
    }
}

@media (max-width: 767px) {
    #schedule .nav-tabs a {
        padding: 5px 15px;
    }

    .daySelection .nav-item.wide {
        flex-basis: 40%;
    }

    .scheduleItemContainer {
        padding: 0px;
    }
}

@media (max-width: 574px) {
    #venue .venue-info h3 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    #schedule .nav-tabs a {
        padding: 5px 10px;
    }
}

@media (max-width: 460px) {
    #subscribe button {
        margin-top: 10px;
    }

    .daySelection .nav-item.wide {
        flex-basis: auto;
        flex-grow: 2;
    }
}

@media (max-width: 575.98px) {
    #videoModal .modal-dialog {
        margin: 1.25rem;
    }
}